<h1>Bienvenido a la vista en tiempo real</h1>
<form id="formAddProduct">
    <input type="text" name="productTitle" id="productTitle">
    <input type="text" name="productDescription" id="productDescription">
    <input type="number" name="productPrice" id="productPrice">
    <!--esto se puede cambiar por un type="url" cuando realmente envie la urta de una imagen-->
    <input type="text" name="productThumbnail" id="productThumbnail">
    <input type="text" name="productCode" id="productCode">
    <input type="number" name="productStock" id="productStock">
    <input type="number" name="idProduct" id="idProduct">   
    <input type="submit" value="AGREGAR">    
</form>
<form id="formDeleteProduct">
    <input type="number" name="idProcutDeleted" id="idProductDeleted">
    <input type="submit" value="ELIMINAR">
</form>

<div id="productsInRealTime"></div>






<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>